.vertical-slider {
    writing-mode: bt-lr; /* Set the writing mode to vertical */
    -webkit-appearance: slider-vertical; /* Safari and Chrome */
    width: 20px;
    height: 100px;
    margin: 5px;
}
.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seekbar-container {
    margin: auto;
    width: 50%;
}
label {
    margin-right: 10px;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#volume-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#seekbar {
    width: 100%;
}


 #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #navli {
    float: left;
  }
  
  #navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navli a:hover {
    background-color: #111;
  }