<!DOCTYPE html>
<html>
<head>
    <title>Karaoke</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/downloads.js"></script>
</head>
<body>
    <ul id="navul">
        <li id="navli"><a href="/">Songs</a></li>
        <li id="navli"><a class="active" href="/downloads">Downloads</a></li>
    </ul>
    <div id="container">
        <h3>Download a new song</h1>
        <form id="download" action="/get" method="GET">
            <label>Artist</label>
            <input type="text" id="artist" name="artist"/>
            <label>Song</label>
            <input type="text" id="song" name="song"/>
            <input type="submit"/>
        </form>
        <div id="container">
            <h1>Downloads Tracker</h1>
            <ul id="downloadslist"></ul>
        </div>
    </div>
</body>
</html>