<!DOCTYPE html>
<html>
<head>
    <title>Karaoke</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>Audio Player</h1>
        <h2 id="artist">{{artist}}</h2>
        <h3 id="song">{{song}}</h3>
        <audio id="audio1" src="/play?artist={{artist}}&song={{song}}&type=vocals" type="audio/wav"></audio>
        <audio id="audio2" src="/play?artist={{artist}}&song={{song}}&type=no_vocals" type="audio/wav"></audio>
        <div id="volume-container">
            <div id="time-stamp"></div> 
            <div class="seekbar-container">
                <input type="range" id="seekbar" min="0" value="0">
            </div>
            <div class="slider-container">
                <input type="range" id="volume1" min="0" max="1" step="0.1" value="0.5" class="vertical-slider">
                <label for="volume1">Vocals</label>
            </div>
            <div class="slider-container">
                <input type="range" id="volume2" min="0" max="1" step="0.1" value="0.5" class="vertical-slider">
                <label for="volume2">Instrumental</label>
            </div>
        </div>
        <br>
        <button id="play">Play</button>
        <button id="pause">Pause</button>
    </div>

    <div id="lyrics-container">0:00/0:00</div>

    <script src="static/player.js"></script>
</body></html>